#login-container:hover {
  padding: 1em;
  margin: 1em;
  border: 3px solid #3385de;
}

#login-container {
  display: flex;
  flex-direction: row;
  place-content: start center;
  flex: 1 1 auto;
}

#login-container:not(:empty):hover::after {
  content: "Team Authentication (React)";
  background: white;
  position: absolute;
  margin-top: -35px;
  padding: 5px;
  color: #3385de;
}

.card {
  flex: 0.5;
}
